*{
  padding:0;
  margin:0;  
  box-sizing: border-box;
}
body{
  background-color: white;

  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height:5%;
  text-align:center;
  text-align: justify;
  margin-top:0px;
}
li.w3-large{

}



.logo{
  width:55%;
  height:100%;
  margin-left: -30%;
}
/* Style the search box inside the navigation bar */
.search input[type=text] {
  /* float: right; */
  padding: 6px;
  /* border: black !important; */
  margin-top: 35%;
  margin-right: 16px;
  font-size: 17px;
  margin-left:-15%;
  margin-bottom:10px;

}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}
  .menu-bar{
    color:white;
 background:green;
 text-align:center;
 list-style-type: none;

}

 .menu-bar ul{
  display: inline-flex;
  list-style-type: none;



}
.menu-bar ul li{
  display:inline-flex;

  width:150px;
  margin:15px;
  padding:15px;
  list-style-type: none !important;
}
li{
  display: inline-flex;
  width:150px !important;
  /* margin:15px; */
  margin-top:15px;
  margin-bottom:15px;
  padding:10px; 
}
.a {
  text-decoration: none;
  color:#fff;

}
a:-webkit-any-link{
  text-decoration: none;
  color:#fff;
}

li:hover
{

background: #2bab0d;
border-radius:3px;
}
.sub-menu-1 {
  display:block; 
}
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  margin-left:20px;
  position: absolute;
  background-color:transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
ol,ul {
  padding-left: 0rem !important}

  p.paragraph{
    margin-right:20% !important;
  }
  .carousel-item{
    transition: .10s ease-in-out !important;
  }
  img.vision{
    display:flex;
    align-items:right;
  }
  